@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.mobileMenu{      
    overflow: hidden;     
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px 0px;
    overscroll-behavior: contain;
    padding-top: 56px;
    z-index: 10002;
    height: 100vh;
    position: fixed;
    top: 0; 
    background-color: rgb(22, 22, 22);
    font-size: 16px;
    display: flex;
    font-family: Raleway, arial, sans-serif;
    width: 100%;
    box-sizing: inherit;
    --scroll-width: 7px;
    line-height: 1.15;
    color: #fff!important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
}

.mobileMenu__exitBtn {
    position: absolute;
    font-size: 28px;
    right: 15px;
    top: 15px;
    line-height: 1.3em;
    vertical-align: middle;
    padding: 6px; 
    display: inline-block;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.mobileMenu__list {
    font-size: 16px;
    /*padding-left: 24px;*/
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto; 
    font-family: Raleway, arial, sans-serif;
    width: 100%; 
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --scroll-width: 7px;
    line-height: 1.15;
    list-style-type: disc;
}

.mobileMenu__list__item {
    font-size: 14px;
    justify-content: space-between;
    color: rgb(247, 247, 247);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.107em;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}